.generator {
  width: 100%;
  position: relative;
  height: 338px;
  // background-color: $temp6;
  // overflow: hidden;
  display: flex;
  justify-content: center;
  @media (max-width: 1279px) {
    height: 230px;
    width: 90%;
  }
  @media (max-width: 767px) {
    width: 98%;
  }
  @media (max-width: 767px) and (max-height: 750px) {
    height: 180px;
  }
  &__text {
    transition: all 0.2s ease;
    color: #2D2D2D;
    position: absolute;
    right: 0;
    top: -150px;
    font-size: 24px;
    @include hover {
      text-decoration: underline;
    }
    @media (min-width: 1280px) and (max-height: 780px) {
      top: -90px;
    }
    @media (max-width: 1279px) {
      top: -125px;
    }
    @media (max-width: 991px) {
      font-size: 18px;
    }
    @media (max-width: 767px) {
      transform: translateX(-50%);
      left: 50%;
      text-align: center;
      width: 100%;
      font-size: 24px;
      top: -250px;
    }
    @media (max-width: 767px) and (max-height: 650px) {
      font-size: 18px;
      top: -220px;
    }
    b {
      @media (max-width: 1279px) {
        text-decoration: underline;
      }
    }
    br {
      display: none;
      @media (max-width: 767px) {
        display: block;
      }
    }



  }
  &__image {
    z-index: 50;
    transition: all 0.9s ease;
    position: absolute;
    max-width: 230px;//190px;
    max-height: 230px;//190px;
    top: -100px;
    right: 0px;
    @media (max-width: 1279px) {
      top: -90px;
    }
    @media (max-width: 767px) {
      transform: translateX(-50%);
      max-width: 230px;//190px;
      max-height: 230px;//190px;
      left: 50%;
      right: auto;
      // transform: translateX(-50%);
      top: -180px;
    }
    @media (max-width: 767px) and (max-height: 650px) {
      max-width: 150px;
      max-height: 150px;
      // transform: translateX(-50%);
      // right: auto;
      // left: 50%;
      top: -140px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &__box1 {
    width: 100%;
    overflow: hidden;
    position: relative;
    max-height: 100%;
    // background-color: $temp1;
    display: flex;
    justify-content: center;
  }
  &__col {
    // position: relative;
    // bottom: 0;
    // max-height: 100%;
    height: max-content;
    // position: relative;
    flex: 1 0 33%;
    // background-color: $temp2;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    // line-height: 45px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // text-align: center;
    align-items: center;
    &--first {
      align-items: flex-end;
    }
    &--last {
      align-items: flex-start;
    }
    @media (max-width: 1279px) {
      font-size: 16px;
    }
    @media (max-width: 767px) {
      font-size: 8.5px;
    }
  }
  &__value {
    // outline: 1px dashed red;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    // filter: blur(4px);
    // top: -100px;
    // position: absolute;
  }
  &__line {
    // background-color: $temp3;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    border: 3px solid #2D2D2D;
    border-radius: 30px;
    @media (max-width: 1279px) {
      height: 55px;
      border-radius: 15px;
      // width: 93%;
      border: 2px solid #2D2D2D;
    }
    @media (max-width: 767px) and (max-height: 750px) {
      height: 40px;
    }
  }
}