.social {
    font-size: 0;
    position: fixed;
    height: 100%;
    right: 0;
    // background-color: $temp1;
    z-index: 900;
    display: flex;
    align-items: center;
    &__list {
        display: flex;
        flex-direction: column;
        margin-right: 57px;
        @media (max-width: 1380px) {
            margin-right: 16px;
        }
        @media (max-width: 767px) {
            margin-bottom: 200px;
        }
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    &__link {
        display: block;
        height: 32px;
        width: 32px;
        svg .fill {
            transition: all 0.2s ease;
        }
        
        @include hover {
            svg .fill {
                fill: #A359A2;
            }
        }
        // &--in {
        //     background-image: url("../assets/images/in-icon.svg");
        // }
        // &--fb {
        //     background-image: url("../assets/images/fb-icon.svg");
        // }
        // &--yt {
        //     background-image: url("../assets/images/yt-icon.svg");
        // }
    }
}